@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,400;0,500;0,600;0,700;0,800;1,400&display=swap');
@import url('https://fonts.cdnfonts.com/css/sanchez');
                
* {
    margin: 0;
    border: 0;
    box-sizing: border-box;
    font-family: "sanchez", sans-serif;
}

body {
    background-color: #000;
    scroll-behavior: smooth;
    overflow: hidden;
}

#container {
    scroll-snap-type: y mandatory;
    overflow-y: scroll;
    height: 100vh;
    position: relative;
    z-index: 1;
}

section {
    height: 100vh;
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    scroll-snap-align: center;
    background-color: #fff;
}

h1{
    font-weight: 500;
    font-size: 3rem;
    text-transform: uppercase;
    color: #02156a;
}

/* header */

header {
    background-color: transparent;
    width: 100vw;
    padding: 2rem;
    height: 6rem;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-evenly;
    align-items: center;
    top: 0;
    text-transform: uppercase;
    font-weight: 500;
}

a {
    text-decoration: none;
    color: #fff;
}

a:hover {
    color: rgb(25, 96, 244);
}

#img img {
    width: 60vw;
    height: 70vh;
    margin-top: 2rem;
}

#img {
    display: flex;
    justify-content: center;
    align-items: center;
}

#home {
    background: rgb(255, 255, 255);
    background: linear-gradient(0deg, rgba(255, 255, 255, 1) 0%, rgba(147, 178, 243, 1) 100%);
}

/* story */

#story {
    display: flex;
    position: relative;
    width: 100vw;
    height: 100vh;
    flex-direction: row;
    align-items: center;
}

#imgstory img {
    width: 35vw;
    height: 50vh;
    display: flex;
    margin: 6rem;
    z-index: 1;

}

#storytxt {
    display: flex;
    justify-content: space-between;
    height: 50vh;
    width: 50vw;
    flex-direction: column;
    padding: 3rem;
    margin: 5rem;
}

#storytxt h1 {
    text-transform: uppercase;
    color: #02156a;
}

#storytxt a {
    color: #93b2f3;
    font-weight: bold;
    text-decoration: underline;
}

/* albums */

#albums{
    display: flex;
    width: 100vw;
    height: 100vh;
    justify-content: center;
    align-items: center;
}

#albums h1{
    height: auto;
    margin: 0;
}

/*album cards*/

.cardimg{
    width: 15rem;
    height: 12rem;
    display: flex;
    justify-content: center;
    align-items: center;
}

.text_album{
    width: 15rem;
}

.text_album p{
    margin: 1rem;
}

.cards{
    display: flex;
    width: 100vw;
    height: 65vh;
    justify-content: center;
    align-items: center;
}

.cardbody{
    width: 15rem;
    height: 20rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 1rem;
    position: relative;
}

#albums .cards .cardbody{
    width: 15rem;
    height: 20rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 2rem;
    background: linear-gradient(45deg, rgba(134,188,241,1) 0%, rgba(255,249,249,1) 49%, rgba(134,188,241,1) 100%); 
}

.cardbody img{
    width: 10rem;
    height: 10rem;
}

/* member */

#members{
    display: flex;
    width: 100vw;
    height: 100vh;
    justify-content: center;
    align-items: center;
}

#members .cardbody .cardimg{
    position: absolute;
}

.text_member{
    text-transform: uppercase;
    font-size: x-large;
    width: 15rem;
    height: 15rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    color: #02156a;
}

#members .cardbody{
    border: 2px solid #02156a;
}
















#end {
    background: rgb(255, 255, 255);
    background: linear-gradient(180deg, rgba(255, 255, 255, 1) 0%, rgba(147, 178, 243, 1) 100%);
}